* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.padding-1 {
  padding: 8px;
}
.padding-2 {
  padding: 12px;
}
.padding-3 {
  padding: 16px;
}
.padding-4 {
  padding: 20px;
}
.padding-5 {
  padding: 24px;
}

.margin-1 {
  margin: 8px;
}
.margin-2 {
  margin: 12px;
}
.margin-3 {
  margin: 16px;
}
.margin-4 {
  margin: 20px;
}
.margin-5 {
  margin: 24px;
}

.font-size-1 {
  font-size: 8px;
}
.font-size-2 {
  font-size: 12px;
}
.font-size-3 {
  font-size: 16px;
}
.font-size-4 {
  font-size: 20px;
}
.font-size-5 {
  font-size: 24px;
}

.font-weight-1 {
  font-weight: 100;
}
.font-weight-2 {
  font-weight: 200;
}
.font-weight-3 {
  font-weight: 300;
}
.font-weight-4 {
  font-weight: 400;
}
.font-weight-5 {
  font-weight: 500;
}
.font-weight-6 {
  font-weight: 600;
}
.font-weight-7 {
  font-weight: 700;
}
.font-weight-8 {
  font-weight: 800;
}
.font-weight-9 {
  font-weight: 900;
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-contents {
  display: contents;
}
.display-flexbox {
  display: flexbox;
}
.display-flow-root {
  display: flow-root;
}
.display-grid {
  display: grid;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-inline-flex {
  display: inline-flex;
}
.display-inline-flexbox {
  display: inline-flexbox;
}
.display-inline-table {
  display: inline-table;
}
.display-list-item {
  display: list-item;
}
.display-none {
  display: none;
}
.display-ruby {
  display: ruby;
}
.display-ruby-base {
  display: ruby-base;
}
.display-ruby-base-container {
  display: ruby-base-container;
}
.display-ruby-text {
  display: ruby-text;
}
.display-ruby-text-container {
  display: ruby-text-container;
}
.display-run-in {
  display: run-in;
}
.display-table {
  display: table;
}
.display-table-caption {
  display: table-caption;
}
.display-table-cell {
  display: table-cell;
}
.display-table-column {
  display: table-column;
}
.display-table-column-group {
  display: table-column-group;
}
.display-table-footer-group {
  display: table-footer-group;
}
.display-table-header-group {
  display: table-header-group;
}
.display-table-row {
  display: table-row;
}
.display-table-row-group {
  display: table-row-group;
}

.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-end {
  align-items: end;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-normal {
  align-items: normal;
}
.align-items-safe {
  align-items: safe;
}
.align-items-self-end {
  align-items: self-end;
}
.align-items-self-start {
  align-items: self-start;
}
.align-items-start {
  align-items: start;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-unsafe {
  align-items: unsafe;
}
.align-items-inherit {
  align-items: inherit;
}
.align-items-initial {
  align-items: initial;
}
.align-items-unset {
  align-items: unset;
}

.flex-auto {
  flex: auto;
}
.flex-content {
  flex: content;
}
.flex-none {
  flex: none;
}
.flex-1 {
  flex: 8px;
}
.flex-2 {
  flex: 12px;
}
.flex-3 {
  flex: 16px;
}
.flex-4 {
  flex: 20px;
}
.flex-5 {
  flex: 24px;
}
.flex-half {
  flex: 4px;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-direction-inherit {
  flex-direction: inherit;
}
.flex-direction-initial {
  flex-direction: initial;
}
.flex-direction-unset {
  flex-direction: unset;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-wrap-inherit {
  flex-wrap: inherit;
}
.flex-wrap-initial {
  flex-wrap: initial;
}
.flex-wrap-unset {
  flex-wrap: unset;
}

.width-1-px {
  width: 4px;
}

.width-2-px {
  width: 8px;
}

.width-3-px {
  width: 12px;
}

.width-4-px {
  width: 16px;
}

.width-5-px {
  width: 20px;
}

.width-6-px {
  width: 24px;
}

.width-7-px {
  width: 28px;
}

.width-8-px {
  width: 32px;
}

.width-9-px {
  width: 36px;
}

.width-10-px {
  width: 40px;
}

.width-11-px {
  width: 44px;
}

.width-12-px {
  width: 48px;
}

.width-13-px {
  width: 52px;
}

.width-14-px {
  width: 56px;
}

.width-15-px {
  width: 60px;
}

.width-16-px {
  width: 64px;
}

.width-17-px {
  width: 68px;
}

.width-18-px {
  width: 72px;
}

.width-19-px {
  width: 76px;
}

.width-20-px {
  width: 80px;
}

.width-21-px {
  width: 84px;
}

.width-22-px {
  width: 88px;
}

.width-23-px {
  width: 92px;
}

.width-24-px {
  width: 96px;
}

.width-25-px {
  width: 100px;
}

.width-26-px {
  width: 104px;
}

.width-27-px {
  width: 108px;
}

.width-28-px {
  width: 112px;
}

.width-29-px {
  width: 116px;
}

.width-30-px {
  width: 120px;
}

.width-31-px {
  width: 124px;
}

.width-32-px {
  width: 128px;
}

.width-33-px {
  width: 132px;
}

.width-34-px {
  width: 136px;
}

.width-35-px {
  width: 140px;
}

.width-36-px {
  width: 144px;
}

.width-37-px {
  width: 148px;
}

.width-38-px {
  width: 152px;
}

.width-39-px {
  width: 156px;
}

.width-40-px {
  width: 160px;
}

.width-41-px {
  width: 164px;
}

.width-42-px {
  width: 168px;
}

.width-43-px {
  width: 172px;
}

.width-44-px {
  width: 176px;
}

.width-45-px {
  width: 180px;
}

.width-46-px {
  width: 184px;
}

.width-47-px {
  width: 188px;
}

.width-48-px {
  width: 192px;
}

.width-49-px {
  width: 196px;
}

.width-50-px {
  width: 200px;
}

.width-51-px {
  width: 204px;
}

.width-52-px {
  width: 208px;
}

.width-53-px {
  width: 212px;
}

.width-54-px {
  width: 216px;
}

.width-55-px {
  width: 220px;
}

.width-56-px {
  width: 224px;
}

.width-57-px {
  width: 228px;
}

.width-58-px {
  width: 232px;
}

.width-59-px {
  width: 236px;
}

.width-60-px {
  width: 240px;
}

.width-61-px {
  width: 244px;
}

.width-62-px {
  width: 248px;
}

.width-63-px {
  width: 252px;
}

.width-64-px {
  width: 256px;
}

.width-65-px {
  width: 260px;
}

.width-66-px {
  width: 264px;
}

.width-67-px {
  width: 268px;
}

.width-68-px {
  width: 272px;
}

.width-69-px {
  width: 276px;
}

.width-70-px {
  width: 280px;
}

.width-71-px {
  width: 284px;
}

.width-72-px {
  width: 288px;
}

.width-73-px {
  width: 292px;
}

.width-74-px {
  width: 296px;
}

.width-75-px {
  width: 300px;
}

.width-76-px {
  width: 304px;
}

.width-77-px {
  width: 308px;
}

.width-78-px {
  width: 312px;
}

.width-79-px {
  width: 316px;
}

.width-80-px {
  width: 320px;
}

.width-81-px {
  width: 324px;
}

.width-82-px {
  width: 328px;
}

.width-83-px {
  width: 332px;
}

.width-84-px {
  width: 336px;
}

.width-85-px {
  width: 340px;
}

.width-86-px {
  width: 344px;
}

.width-87-px {
  width: 348px;
}

.width-88-px {
  width: 352px;
}

.width-89-px {
  width: 356px;
}

.width-90-px {
  width: 360px;
}

.width-91-px {
  width: 364px;
}

.width-92-px {
  width: 368px;
}

.width-93-px {
  width: 372px;
}

.width-94-px {
  width: 376px;
}

.width-95-px {
  width: 380px;
}

.width-96-px {
  width: 384px;
}

.width-97-px {
  width: 388px;
}

.width-98-px {
  width: 392px;
}

.width-99-px {
  width: 396px;
}

.width-100-px {
  width: 400px;
}

.width-1-vw {
  width: 1vw;
}

.width-2-vw {
  width: 2vw;
}

.width-3-vw {
  width: 3vw;
}

.width-4-vw {
  width: 4vw;
}

.width-5-vw {
  width: 5vw;
}

.width-6-vw {
  width: 6vw;
}

.width-7-vw {
  width: 7vw;
}

.width-8-vw {
  width: 8vw;
}

.width-9-vw {
  width: 9vw;
}

.width-10-vw {
  width: 10vw;
}

.width-11-vw {
  width: 11vw;
}

.width-12-vw {
  width: 12vw;
}

.width-13-vw {
  width: 13vw;
}

.width-14-vw {
  width: 14vw;
}

.width-15-vw {
  width: 15vw;
}

.width-16-vw {
  width: 16vw;
}

.width-17-vw {
  width: 17vw;
}

.width-18-vw {
  width: 18vw;
}

.width-19-vw {
  width: 19vw;
}

.width-20-vw {
  width: 20vw;
}

.width-21-vw {
  width: 21vw;
}

.width-22-vw {
  width: 22vw;
}

.width-23-vw {
  width: 23vw;
}

.width-24-vw {
  width: 24vw;
}

.width-25-vw {
  width: 25vw;
}

.width-26-vw {
  width: 26vw;
}

.width-27-vw {
  width: 27vw;
}

.width-28-vw {
  width: 28vw;
}

.width-29-vw {
  width: 29vw;
}

.width-30-vw {
  width: 30vw;
}

.width-31-vw {
  width: 31vw;
}

.width-32-vw {
  width: 32vw;
}

.width-33-vw {
  width: 33vw;
}

.width-34-vw {
  width: 34vw;
}

.width-35-vw {
  width: 35vw;
}

.width-36-vw {
  width: 36vw;
}

.width-37-vw {
  width: 37vw;
}

.width-38-vw {
  width: 38vw;
}

.width-39-vw {
  width: 39vw;
}

.width-40-vw {
  width: 40vw;
}

.width-41-vw {
  width: 41vw;
}

.width-42-vw {
  width: 42vw;
}

.width-43-vw {
  width: 43vw;
}

.width-44-vw {
  width: 44vw;
}

.width-45-vw {
  width: 45vw;
}

.width-46-vw {
  width: 46vw;
}

.width-47-vw {
  width: 47vw;
}

.width-48-vw {
  width: 48vw;
}

.width-49-vw {
  width: 49vw;
}

.width-50-vw {
  width: 50vw;
}

.width-51-vw {
  width: 51vw;
}

.width-52-vw {
  width: 52vw;
}

.width-53-vw {
  width: 53vw;
}

.width-54-vw {
  width: 54vw;
}

.width-55-vw {
  width: 55vw;
}

.width-56-vw {
  width: 56vw;
}

.width-57-vw {
  width: 57vw;
}

.width-58-vw {
  width: 58vw;
}

.width-59-vw {
  width: 59vw;
}

.width-60-vw {
  width: 60vw;
}

.width-61-vw {
  width: 61vw;
}

.width-62-vw {
  width: 62vw;
}

.width-63-vw {
  width: 63vw;
}

.width-64-vw {
  width: 64vw;
}

.width-65-vw {
  width: 65vw;
}

.width-66-vw {
  width: 66vw;
}

.width-67-vw {
  width: 67vw;
}

.width-68-vw {
  width: 68vw;
}

.width-69-vw {
  width: 69vw;
}

.width-70-vw {
  width: 70vw;
}

.width-71-vw {
  width: 71vw;
}

.width-72-vw {
  width: 72vw;
}

.width-73-vw {
  width: 73vw;
}

.width-74-vw {
  width: 74vw;
}

.width-75-vw {
  width: 75vw;
}

.width-76-vw {
  width: 76vw;
}

.width-77-vw {
  width: 77vw;
}

.width-78-vw {
  width: 78vw;
}

.width-79-vw {
  width: 79vw;
}

.width-80-vw {
  width: 80vw;
}

.width-81-vw {
  width: 81vw;
}

.width-82-vw {
  width: 82vw;
}

.width-83-vw {
  width: 83vw;
}

.width-84-vw {
  width: 84vw;
}

.width-85-vw {
  width: 85vw;
}

.width-86-vw {
  width: 86vw;
}

.width-87-vw {
  width: 87vw;
}

.width-88-vw {
  width: 88vw;
}

.width-89-vw {
  width: 89vw;
}

.width-90-vw {
  width: 90vw;
}

.width-91-vw {
  width: 91vw;
}

.width-92-vw {
  width: 92vw;
}

.width-93-vw {
  width: 93vw;
}

.width-94-vw {
  width: 94vw;
}

.width-95-vw {
  width: 95vw;
}

.width-96-vw {
  width: 96vw;
}

.width-97-vw {
  width: 97vw;
}

.width-98-vw {
  width: 98vw;
}

.width-99-vw {
  width: 99vw;
}

.width-100-vw {
  width: 100vw;
}

.width-1-pc {
  width: 1%;
}

.width-2-pc {
  width: 2%;
}

.width-3-pc {
  width: 3%;
}

.width-4-pc {
  width: 4%;
}

.width-5-pc {
  width: 5%;
}

.width-6-pc {
  width: 6%;
}

.width-7-pc {
  width: 7%;
}

.width-8-pc {
  width: 8%;
}

.width-9-pc {
  width: 9%;
}

.width-10-pc {
  width: 10%;
}

.width-11-pc {
  width: 11%;
}

.width-12-pc {
  width: 12%;
}

.width-13-pc {
  width: 13%;
}

.width-14-pc {
  width: 14%;
}

.width-15-pc {
  width: 15%;
}

.width-16-pc {
  width: 16%;
}

.width-17-pc {
  width: 17%;
}

.width-18-pc {
  width: 18%;
}

.width-19-pc {
  width: 19%;
}

.width-20-pc {
  width: 20%;
}

.width-21-pc {
  width: 21%;
}

.width-22-pc {
  width: 22%;
}

.width-23-pc {
  width: 23%;
}

.width-24-pc {
  width: 24%;
}

.width-25-pc {
  width: 25%;
}

.width-26-pc {
  width: 26%;
}

.width-27-pc {
  width: 27%;
}

.width-28-pc {
  width: 28%;
}

.width-29-pc {
  width: 29%;
}

.width-30-pc {
  width: 30%;
}

.width-31-pc {
  width: 31%;
}

.width-32-pc {
  width: 32%;
}

.width-33-pc {
  width: 33%;
}

.width-34-pc {
  width: 34%;
}

.width-35-pc {
  width: 35%;
}

.width-36-pc {
  width: 36%;
}

.width-37-pc {
  width: 37%;
}

.width-38-pc {
  width: 38%;
}

.width-39-pc {
  width: 39%;
}

.width-40-pc {
  width: 40%;
}

.width-41-pc {
  width: 41%;
}

.width-42-pc {
  width: 42%;
}

.width-43-pc {
  width: 43%;
}

.width-44-pc {
  width: 44%;
}

.width-45-pc {
  width: 45%;
}

.width-46-pc {
  width: 46%;
}

.width-47-pc {
  width: 47%;
}

.width-48-pc {
  width: 48%;
}

.width-49-pc {
  width: 49%;
}

.width-50-pc {
  width: 50%;
}

.width-51-pc {
  width: 51%;
}

.width-52-pc {
  width: 52%;
}

.width-53-pc {
  width: 53%;
}

.width-54-pc {
  width: 54%;
}

.width-55-pc {
  width: 55%;
}

.width-56-pc {
  width: 56%;
}

.width-57-pc {
  width: 57%;
}

.width-58-pc {
  width: 58%;
}

.width-59-pc {
  width: 59%;
}

.width-60-pc {
  width: 60%;
}

.width-61-pc {
  width: 61%;
}

.width-62-pc {
  width: 62%;
}

.width-63-pc {
  width: 63%;
}

.width-64-pc {
  width: 64%;
}

.width-65-pc {
  width: 65%;
}

.width-66-pc {
  width: 66%;
}

.width-67-pc {
  width: 67%;
}

.width-68-pc {
  width: 68%;
}

.width-69-pc {
  width: 69%;
}

.width-70-pc {
  width: 70%;
}

.width-71-pc {
  width: 71%;
}

.width-72-pc {
  width: 72%;
}

.width-73-pc {
  width: 73%;
}

.width-74-pc {
  width: 74%;
}

.width-75-pc {
  width: 75%;
}

.width-76-pc {
  width: 76%;
}

.width-77-pc {
  width: 77%;
}

.width-78-pc {
  width: 78%;
}

.width-79-pc {
  width: 79%;
}

.width-80-pc {
  width: 80%;
}

.width-81-pc {
  width: 81%;
}

.width-82-pc {
  width: 82%;
}

.width-83-pc {
  width: 83%;
}

.width-84-pc {
  width: 84%;
}

.width-85-pc {
  width: 85%;
}

.width-86-pc {
  width: 86%;
}

.width-87-pc {
  width: 87%;
}

.width-88-pc {
  width: 88%;
}

.width-89-pc {
  width: 89%;
}

.width-90-pc {
  width: 90%;
}

.width-91-pc {
  width: 91%;
}

.width-92-pc {
  width: 92%;
}

.width-93-pc {
  width: 93%;
}

.width-94-pc {
  width: 94%;
}

.width-95-pc {
  width: 95%;
}

.width-96-pc {
  width: 96%;
}

.width-97-pc {
  width: 97%;
}

.width-98-pc {
  width: 98%;
}

.width-99-pc {
  width: 99%;
}

.width-100-pc {
  width: 100%;
}

.height-1-px {
  height: 4px;
}

.height-2-px {
  height: 8px;
}

.height-3-px {
  height: 12px;
}

.height-4-px {
  height: 16px;
}

.height-5-px {
  height: 20px;
}

.height-6-px {
  height: 24px;
}

.height-7-px {
  height: 28px;
}

.height-8-px {
  height: 32px;
}

.height-9-px {
  height: 36px;
}

.height-10-px {
  height: 40px;
}

.height-11-px {
  height: 44px;
}

.height-12-px {
  height: 48px;
}

.height-13-px {
  height: 52px;
}

.height-14-px {
  height: 56px;
}

.height-15-px {
  height: 60px;
}

.height-16-px {
  height: 64px;
}

.height-17-px {
  height: 68px;
}

.height-18-px {
  height: 72px;
}

.height-19-px {
  height: 76px;
}

.height-20-px {
  height: 80px;
}

.height-21-px {
  height: 84px;
}

.height-22-px {
  height: 88px;
}

.height-23-px {
  height: 92px;
}

.height-24-px {
  height: 96px;
}

.height-25-px {
  height: 100px;
}

.height-26-px {
  height: 104px;
}

.height-27-px {
  height: 108px;
}

.height-28-px {
  height: 112px;
}

.height-29-px {
  height: 116px;
}

.height-30-px {
  height: 120px;
}

.height-31-px {
  height: 124px;
}

.height-32-px {
  height: 128px;
}

.height-33-px {
  height: 132px;
}

.height-34-px {
  height: 136px;
}

.height-35-px {
  height: 140px;
}

.height-36-px {
  height: 144px;
}

.height-37-px {
  height: 148px;
}

.height-38-px {
  height: 152px;
}

.height-39-px {
  height: 156px;
}

.height-40-px {
  height: 160px;
}

.height-41-px {
  height: 164px;
}

.height-42-px {
  height: 168px;
}

.height-43-px {
  height: 172px;
}

.height-44-px {
  height: 176px;
}

.height-45-px {
  height: 180px;
}

.height-46-px {
  height: 184px;
}

.height-47-px {
  height: 188px;
}

.height-48-px {
  height: 192px;
}

.height-49-px {
  height: 196px;
}

.height-50-px {
  height: 200px;
}

.height-51-px {
  height: 204px;
}

.height-52-px {
  height: 208px;
}

.height-53-px {
  height: 212px;
}

.height-54-px {
  height: 216px;
}

.height-55-px {
  height: 220px;
}

.height-56-px {
  height: 224px;
}

.height-57-px {
  height: 228px;
}

.height-58-px {
  height: 232px;
}

.height-59-px {
  height: 236px;
}

.height-60-px {
  height: 240px;
}

.height-61-px {
  height: 244px;
}

.height-62-px {
  height: 248px;
}

.height-63-px {
  height: 252px;
}

.height-64-px {
  height: 256px;
}

.height-65-px {
  height: 260px;
}

.height-66-px {
  height: 264px;
}

.height-67-px {
  height: 268px;
}

.height-68-px {
  height: 272px;
}

.height-69-px {
  height: 276px;
}

.height-70-px {
  height: 280px;
}

.height-71-px {
  height: 284px;
}

.height-72-px {
  height: 288px;
}

.height-73-px {
  height: 292px;
}

.height-74-px {
  height: 296px;
}

.height-75-px {
  height: 300px;
}

.height-76-px {
  height: 304px;
}

.height-77-px {
  height: 308px;
}

.height-78-px {
  height: 312px;
}

.height-79-px {
  height: 316px;
}

.height-80-px {
  height: 320px;
}

.height-81-px {
  height: 324px;
}

.height-82-px {
  height: 328px;
}

.height-83-px {
  height: 332px;
}

.height-84-px {
  height: 336px;
}

.height-85-px {
  height: 340px;
}

.height-86-px {
  height: 344px;
}

.height-87-px {
  height: 348px;
}

.height-88-px {
  height: 352px;
}

.height-89-px {
  height: 356px;
}

.height-90-px {
  height: 360px;
}

.height-91-px {
  height: 364px;
}

.height-92-px {
  height: 368px;
}

.height-93-px {
  height: 372px;
}

.height-94-px {
  height: 376px;
}

.height-95-px {
  height: 380px;
}

.height-96-px {
  height: 384px;
}

.height-97-px {
  height: 388px;
}

.height-98-px {
  height: 392px;
}

.height-99-px {
  height: 396px;
}

.height-100-px {
  height: 400px;
}

/* Percentage Heights */
.height-1-pc {
  height: 1%;
}

.height-2-pc {
  height: 2%;
}

.height-3-pc {
  height: 3%;
}

.height-4-pc {
  height: 4%;
}

.height-5-pc {
  height: 5%;
}

.height-6-pc {
  height: 6%;
}

.height-7-pc {
  height: 7%;
}

.height-8-pc {
  height: 8%;
}

.height-9-pc {
  height: 9%;
}

.height-10-pc {
  height: 10%;
}

.height-11-pc {
  height: 11%;
}

.height-12-pc {
  height: 12%;
}

.height-13-pc {
  height: 13%;
}

.height-14-pc {
  height: 14%;
}

.height-15-pc {
  height: 15%;
}

.height-16-pc {
  height: 16%;
}

.height-17-pc {
  height: 17%;
}

.height-18-pc {
  height: 18%;
}

.height-19-pc {
  height: 19%;
}

.height-20-pc {
  height: 20%;
}

.height-21-pc {
  height: 21%;
}

.height-22-pc {
  height: 22%;
}

.height-23-pc {
  height: 23%;
}

.height-24-pc {
  height: 24%;
}

.height-25-pc {
  height: 25%;
}

.height-26-pc {
  height: 26%;
}

.height-27-pc {
  height: 27%;
}

.height-28-pc {
  height: 28%;
}

.height-29-pc {
  height: 29%;
}

.height-30-pc {
  height: 30%;
}

.height-31-pc {
  height: 31%;
}

.height-32-pc {
  height: 32%;
}

.height-33-pc {
  height: 33%;
}

.height-34-pc {
  height: 34%;
}

.height-35-pc {
  height: 35%;
}

.height-36-pc {
  height: 36%;
}

.height-37-pc {
  height: 37%;
}

.height-38-pc {
  height: 38%;
}

.height-39-pc {
  height: 39%;
}

.height-40-pc {
  height: 40%;
}

.height-41-pc {
  height: 41%;
}

.height-42-pc {
  height: 42%;
}

.height-43-pc {
  height: 43%;
}

.height-44-pc {
  height: 44%;
}

.height-45-pc {
  height: 45%;
}

.height-46-pc {
  height: 46%;
}

.height-47-pc {
  height: 47%;
}

.height-48-pc {
  height: 48%;
}

.height-49-pc {
  height: 49%;
}

.height-50-pc {
  height: 50%;
}

.height-51-pc {
  height: 51%;
}

.height-52-pc {
  height: 52%;
}

.height-53-pc {
  height: 53%;
}

.height-54-pc {
  height: 54%;
}

.height-55-pc {
  height: 55%;
}

.height-56-pc {
  height: 56%;
}

.height-57-pc {
  height: 57%;
}

.height-58-pc {
  height: 58%;
}

.height-59-pc {
  height: 59%;
}

.height-60-pc {
  height: 60%;
}

.height-61-pc {
  height: 61%;
}

.height-62-pc {
  height: 62%;
}

.height-63-pc {
  height: 63%;
}

.height-64-pc {
  height: 64%;
}

.height-65-pc {
  height: 65%;
}

.height-66-pc {
  height: 66%;
}

.height-67-pc {
  height: 67%;
}

.height-68-pc {
  height: 68%;
}

.height-69-pc {
  height: 69%;
}

.height-70-pc {
  height: 70%;
}

.height-71-pc {
  height: 71%;
}

.height-72-pc {
  height: 72%;
}

.height-73-pc {
  height: 73%;
}

.height-74-pc {
  height: 74%;
}

.height-75-pc {
  height: 75%;
}

.height-76-pc {
  height: 76%;
}

.height-77-pc {
  height: 77%;
}

.height-78-pc {
  height: 78%;
}

.height-79-pc {
  height: 79%;
}

.height-80-pc {
  height: 80%;
}

.height-81-pc {
  height: 81%;
}

.height-82-pc {
  height: 82%;
}

.height-83-pc {
  height: 83%;
}

.height-84-pc {
  height: 84%;
}

.height-85-pc {
  height: 85%;
}

.height-86-pc {
  height: 86%;
}

.height-87-pc {
  height: 87%;
}

.height-88-pc {
  height: 88%;
}

.height-89-pc {
  height: 89%;
}

.height-90-pc {
  height: 90%;
}

.height-91-pc {
  height: 91%;
}

.height-92-pc {
  height: 92%;
}

.height-93-pc {
  height: 93%;
}

.height-94-pc {
  height: 94%;
}

.height-95-pc {
  height: 95%;
}

.height-96-pc {
  height: 96%;
}

.height-97-pc {
  height: 97%;
}

.height-98-pc {
  height: 98%;
}

.height-99-pc {
  height: 99%;
}

.height-100-pc {
  height: 100%;
}

/* Viewport Height */
.height-1-vh {
  height: 1vh;
}

.height-2-vh {
  height: 2vh;
}

.height-3-vh {
  height: 3vh;
}

.height-4-vh {
  height: 4vh;
}

.height-5-vh {
  height: 5vh;
}

.height-6-vh {
  height: 6vh;
}

.height-7-vh {
  height: 7vh;
}

.height-8-vh {
  height: 8vh;
}

.height-9-vh {
  height: 9vh;
}

.height-10-vh {
  height: 10vh;
}

.height-11-vh {
  height: 11vh;
}

.height-12-vh {
  height: 12vh;
}

.height-13-vh {
  height: 13vh;
}

.height-14-vh {
  height: 14vh;
}

.height-15-vh {
  height: 15vh;
}

.height-16-vh {
  height: 16vh;
}

.height-17-vh {
  height: 17vh;
}

.height-18-vh {
  height: 18vh;
}

.height-19-vh {
  height: 19vh;
}

.height-20-vh {
  height: 20vh;
}

.height-21-vh {
  height: 21vh;
}

.height-22-vh {
  height: 22vh;
}

.height-23-vh {
  height: 23vh;
}

.height-24-vh {
  height: 24vh;
}

.height-25-vh {
  height: 25vh;
}

.height-26-vh {
  height: 26vh;
}

.height-27-vh {
  height: 27vh;
}

.height-28-vh {
  height: 28vh;
}

.height-29-vh {
  height: 29vh;
}

.height-30-vh {
  height: 30vh;
}

.height-31-vh {
  height: 31vh;
}

.height-32-vh {
  height: 32vh;
}

.height-33-vh {
  height: 33vh;
}

.height-34-vh {
  height: 34vh;
}

.height-35-vh {
  height: 35vh;
}

.height-36-vh {
  height: 36vh;
}

.height-37-vh {
  height: 37vh;
}

.height-38-vh {
  height: 38vh;
}

.height-39-vh {
  height: 39vh;
}

.height-40-vh {
  height: 40vh;
}

.height-41-vh {
  height: 41vh;
}

.height-42-vh {
  height: 42vh;
}

.height-43-vh {
  height: 43vh;
}

.height-44-vh {
  height: 44vh;
}

.height-45-vh {
  height: 45vh;
}

.height-46-vh {
  height: 46vh;
}

.height-47-vh {
  height: 47vh;
}

.height-48-vh {
  height: 48vh;
}

.height-49-vh {
  height: 49vh;
}

.height-50-vh {
  height: 50vh;
}

.height-51-vh {
  height: 51vh;
}

.height-52-vh {
  height: 52vh;
}

.height-53-vh {
  height: 53vh;
}

.height-54-vh {
  height: 54vh;
}

.height-55-vh {
  height: 55vh;
}

.height-56-vh {
  height: 56vh;
}

.height-57-vh {
  height: 57vh;
}

.height-58-vh {
  height: 58vh;
}

.height-59-vh {
  height: 59vh;
}

.height-60-vh {
  height: 60vh;
}

.height-61-vh {
  height: 61vh;
}

.height-62-vh {
  height: 62vh;
}

.height-63-vh {
  height: 63vh;
}

.height-64-vh {
  height: 64vh;
}

.height-65-vh {
  height: 65vh;
}

.height-66-vh {
  height: 66vh;
}

.height-67-vh {
  height: 67vh;
}

.height-68-vh {
  height: 68vh;
}

.height-69-vh {
  height: 69vh;
}

.height-70-vh {
  height: 70vh;
}

.height-71-vh {
  height: 71vh;
}

.height-72-vh {
  height: 72vh;
}

.height-73-vh {
  height: 73vh;
}

.height-74-vh {
  height: 74vh;
}

.height-75-vh {
  height: 75vh;
}

.height-76-vh {
  height: 76vh;
}

.height-77-vh {
  height: 77vh;
}

.height-78-vh {
  height: 78vh;
}

.height-79-vh {
  height: 79vh;
}

.height-80-vh {
  height: 80vh;
}

.height-81-vh {
  height: 81vh;
}

.height-82-vh {
  height: 82vh;
}

.height-83-vh {
  height: 83vh;
}

.height-84-vh {
  height: 84vh;
}

.height-85-vh {
  height: 85vh;
}

.height-86-vh {
  height: 86vh;
}

.height-87-vh {
  height: 87vh;
}

.height-88-vh {
  height: 88vh;
}

.height-89-vh {
  height: 89vh;
}

.height-90-vh {
  height: 90vh;
}

.height-91-vh {
  height: 91vh;
}

.height-92-vh {
  height: 92vh;
}

.height-93-vh {
  height: 93vh;
}

.height-94-vh {
  height: 94vh;
}

.height-95-vh {
  height: 95vh;
}

.height-96-vh {
  height: 96vh;
}

.height-97-vh {
  height: 97vh;
}

.height-98-vh {
  height: 98vh;
}

.height-99-vh {
  height: 99vh;
}

.height-100-vh {
  height: 100vh;
}
